<app-menubar></app-menubar>

<!-- <app-nonwordset-toolbar></app-nonwordset-toolbar> -->

<div class="nonword-set-container">
    <div class="card-container">
        <div class="nonword-set-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        CREATE CVCV AND/OR CVC NONWORD SETS
                    </mat-card-title>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content class="form-container">
                    <form class="form">

                        <mat-label class="form-text">Please enter the patient's name:</mat-label>
                        <div class="patient">
                            <mat-form-field appearance="outline">
                                <mat-label>Patient Name</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>
                        </div>
                        
                        <mat-label class="form-text">Please enter the target consonants from 1 to:</mat-label>
                        <div class="target-consonants">
                            <mat-form-field appearance="outline">
                                <mat-label>Target Consonants</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>
                        </div>

                        <mat-label class="form-text">Please enter the target vowels from 1 to:</mat-label>
                        <div class="target-vowels">
                            <mat-form-field appearance="outline">
                                <mat-label>Target Vowels</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>
                        </div>

                        <mat-label class="form-text">Please select the reduction:</mat-label>
                        <div class="reduction">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">None</mat-radio-button>
                                <mat-radio-button value="2">Small</mat-radio-button>
                                <mat-radio-button value="3">Medium</mat-radio-button>
                                <mat-radio-button value="4">Large</mat-radio-button>
                                <mat-radio-button value="5">Huge</mat-radio-button>
                              </mat-radio-group>
                        </div>

                        <mat-label class="form-text">Please enter the consonants in priority order:</mat-label>
                        <div class="consonants">
                            <mat-form-field appearance="outline">
                                <mat-label>1</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>2</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>3</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>4</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>5</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>6</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>7</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>8</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>9</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>10</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>11</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>12</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>13</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>14</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>15</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>16</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>17</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>18</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>19</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>20</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>21</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>22</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>23</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>24</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>25</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>
                        </div>

                        <mat-label class="form-text">Please enter the vowels in priority order:</mat-label>
                        <div class="vowels">
                            <mat-form-field appearance="outline">
                                <mat-label>1</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>2</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>3</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>4</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>5</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>6</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>7</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>8</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>9</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>10</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>11</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>12</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>13</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>14</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>15</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>16</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>17</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>18</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>19</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>20</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>21</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>22</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>23</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>

                        </div>
                    </form>
                </mat-card-content>

                <mat-card-actions class="actions">
                    <button mat-flat-button color="primary" class="home-button" (click)="navigateToHome()">BACK TO HOME PAGE</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>