<div class="create-container">
    <div class="card-container">
        <div class="card-item">
            <div class="create-card">
                <mat-card>
                    <mat-card-title class="create-label">
                        CREATE ACCOUNT
                    </mat-card-title>

                    <mat-card-content class="form-container">
                        <form>
                            <div class="email-action">
                                Enter your email:
                            </div>
                            <div class="email-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder=" ">
                                </mat-form-field>
                            </div>
                            
                            <div class="username-action">
                                Create a username:
                            </div>
                            <div class="username-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder=" ">
                                </mat-form-field>
                            </div>

                            <div class="password-action">
                                Create a password:
                            </div>
                            <div class="password-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder=" ">
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>

                    <mat-card-actions class="button-cluster">
                        <button mat-flat-button color="primary" class="create-button">CREATE ACCOUNT</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
