.nonwordset-toolbar {
    height: 40px;
}

.toolbar-label {
    font-size: 12px;
}

.default-label-button {
    width: 60px;
}

.cvcv-cvc-label-button {
    width: 150px;
}

.cvcv-label-button {
    width: 120px;
}

.cvc-label-button {
    width: 90px;
}