<div class="login-container">
    <div class="card-container">
        <div class="card-item">
            <div class="login-card">
                <mat-card>
                    <mat-card-title class="login-label">
                        SML LOGIN
                    </mat-card-title>

                    <mat-card-subtitle class="subtitle-label">
                        Log into your account
                    </mat-card-subtitle>

                    <mat-card-content class="form-container">
                        <form [formGroup]="loginForm" #submitForm="ngForm">
                            <mat-label>Please enter your email:</mat-label>
                            <div class="email-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </div>

                            <mat-label>Please enter your password:</mat-label>
                            <div class="password-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput formControlName="password">
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>

                    <mat-card-actions class="button-cluster">
                        <button mat-flat-button color="primary" class="sign-in-button" (click)="signIn()">SIGN IN</button>
                        <div class="option-label">
                            OR
                        </div>
                        <button mat-flat-button color="primary" class="sign-up-button" (click)="signUp()">SIGN UP</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>