<div class="homepage-container">
    <div class="card-container">
      <div class="about-sml card-item" (click)="navigateToAboutSml()">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              ABOUT THE SML APPROACH
            </mat-card-title>
            <mat-card-subtitle>
              Learn more about the SML Approach
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            This is the content of the card.
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="create-nonword-set card-item" (click)=navigateToCreateNonwordSet()>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              CREATE NONWORD SETS
            </mat-card-title>
            <mat-card-subtitle>
              Create CVCV and/or CVC nonword sets
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            This is the content of the card.
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="user-manual card-item" (click)=navigateToUserManual()>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              USER MANUAL
            </mat-card-title>
            <mat-card-subtitle>
              Learn how to use the system
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            This is the content of the card.
          </mat-card-content>
        </mat-card>
      </div>
  
  
    </div>
  </div>