.feature-container {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.info-card {
    width: 70%;
    padding: 30px;
    background-color: #d5d5d5;
}

.info-title {
    align-self: center;
}

.content {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    padding: 40px;
    width: 80%;
    justify-content: space-between;
}

.card {
    border: 10px solid rgb(255, 149, 62);
    height: 150px;
}

.card-item {
    width: 400px;
    position: relative;
}

.card-item:hover .card {
    background-color: rgb(255, 149, 62);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon {
    width: 50px;
    height: 100px;
}

.large-icon {
    font-size: 50px;
}