<div class="user-manual-container">
    <div class="card-container">
        <div class="user-manual-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        USER MANUAL
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    This will be need to be added by me.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
