<div class="user-manual-container">
    <div class="card-container">
        <div class="user-manual-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        USER MANUAL
                    </mat-card-title>
                </mat-card-header>

                <mat-card-subtitle>Important Note</mat-card-subtitle>

                <div class="content">
                    <mat-card-content>
                        This manual was devised to help speed up and assist in the usage of the Speech Motor Learning
                        Approach. Although the text has been created with great care, the authors shall accept no
                        responsibility for completeness or correctness, for the contents of the text or for the success
                        of the user‟s actions after following the information given in this manual. Using the
                        information given in the text is solely at the user‟s own risk. Furthermore, the text in this
                        guide contains suggestions and examples only, with no claims made for completeness.
                    </mat-card-content>

                    <mat-card-content>
                        The authors also assumed knowledge of the Speech Motor Learning process as described in the
                        article on this approach. No principles regarding the Speech Motor Learning process is explained
                        in this manual and it is assumed that the user is familiar with the use of the material created
                        by the Speech Motor Learning software.
                    </mat-card-content>

                    <mat-card-content>
                        The names given in this text are fictitious. Any resemblance to persons alive or dead is purely
                        coincidental and unintentional.
                    </mat-card-content>
                </div>

                <mat-card-title>Using the Speech Motor Learning Program</mat-card-title>

                <mat-card-subtitle>Patient name</mat-card-subtitle>
                <div class="content">
                    <mat-card-content>
                        A space is provided where you can supply the name of the person for whom the nonword set is to be created or any other name by which you can identify the specific nonword set. This name will be written on the top of the word set and will serve as identification.
                    </mat-card-content>
                </div>

                <mat-card-subtitle>Consonants and vowels</mat-card-subtitle>
                <div class="content">
                    <mat-card-content>
                        You will find spaces where you are required to specify the consonants and vowels you want to create a nonword set from. Note that you may use more than one consonant or vowel to represent a sound, like „sl‟ or „au‟. In this instance, simply type the two letters as one sound in the desired space.
                    </mat-card-content>
                </div>

                <mat-card-subtitle>Ranges of consonants and vowels</mat-card-subtitle>
                <div class="content">
                    <mat-card-content>
                        Before creating a word set, you should specify which of the sounds you have specified, should be used in the nonword set. You do this by specifying a range for the vowels and a range for the consonants. All the sounds within those two respective ranges will then be used in creating the nonword set.
                    </mat-card-content>
                </div>

                <mat-card-subtitle>Reductions</mat-card-subtitle>
                <div class="content">
                    <mat-card-content>
                        The more consonants and vowels you use in creating a nonword set, the bigger the resulting set will be. It will often be necessary to specify a reduction on the resultant nonword set. If not, the nonword set may be thousands of pages long!
                    </mat-card-content>

                    <mat-card-content>
                        The Speech Motor Learning Program allows five different types of reductions: None, Small, Medium, Large, Huge. When choosing a reduction, a certain number of nonwords will be removed from the set you create, to make it smaller and more manageable. Note, that the names of the reductions specify the number of nonwords to be REMOVED and not the number of nonwords that remain after the reduction. When choosing None, no nonwords will be removed from the set and the set will thus contain all possible nonwords consisting of the sounds you chose.
                    </mat-card-content>
                </div>

                <mat-card-title>Creating a CVCV nonword set</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        Click on Create on the menubar, select CVCV document and click on the variation level you want to create. If you want to create all the CVCV variation levels, click on All levels.
                    </mat-card-content>

                    <mat-card-content>
                        Specify a name and location where the nonword set should be saved. Choose a location for the file and specify a filename in the space provided. Note that the name and location do not necessarily correspond to that of the patient file from which the word set is created. You should also choose the file format of the word set. There are two options: you can save the file as a Plain Text file (.txt) or as a Microsoft® Word file (.doc). If you save the file as a Plain Text file, you can open and edit the word set in any text editor or word processor. If you save the file in Microsoft® Word format, you can only open and edit the word set in Microsoft® Word.
                    </mat-card-content>

                    <mat-card-content>
                        After you have selected a name, type and location for the word set file, click on the Save button. The nonword set is now saved to the specified location.
                    </mat-card-content>
                </div>

                <mat-card-title>Creating a CVC nonword set</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        Click on Create on the menubar, select CVC document and click on the variation level you want to create. If you want to create all the CVC variation levels, click on All levels.
                    </mat-card-content>

                    <mat-card-content>
                        Specify a name and location where the nonword set should be saved. Choose a location for the file and specify a filename in the space provided. Note that the name and location do not necessarily correspond to that of the patient file from which the word set is created. You should also choose the file format of the word set. There are two options: you can save the file as a Plain Text file (.txt) or as a Microsoft® Word file (.doc). If you save the file as a Plain Text file, you can open and edit the word set in any text editor or word processor. If you save the file in Microsoft® Word format, you can only open and edit the word set in Microsoft® Word.
                    </mat-card-content>

                    <mat-card-content>
                        After you have selected a name, type and location for the word set file, click on the Save button. The nonword set is now saved to the specified location.
                    </mat-card-content>
                </div>

                <mat-card-title>Creating a CVCV and CVC nonword set</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        Click on Create on the menubar, select CVCV and CVC documents.
                    </mat-card-content>
                    
                    <mat-card-content>
                        Specify a name and location where the nonword set should be saved. Choose a location for the file and specify a filename in the space provided. Note that the name and location do not necessarily correspond to that of the patient file from which the word set is created. You should also choose the file format of the word set. There are two options: you can save the file as a Plain Text file (.txt) or as a Microsoft® Word file (.doc). If you save the file as a Plain Text file, you can open and edit the word set in any text editor or word processor. If you save the file in Microsoft® Word format, you can only open and edit the word set in Microsoft® Word.
                    </mat-card-content>

                    <mat-card-content>
                        After you have selected a name, type and location for the word set file, click on the Save button. The nonword set is now saved to the specified location.
                    </mat-card-content>
                </div>

                <mat-card-title>Opening an existing patient file</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        To open an existing patient file, click on File then click on Open. Select the directory and file you want to open and click on Open. Note that only files created by the Speech Motor Learning Program can be opened in the program. These files all end with .sml.
                    </mat-card-content>

                    <mat-card-content>
                        In the File menu on the menubar, the four most recent files you have worked on, are displayed. If the file you want to open is one of the four most recent files you have worked on, you can open the file much quicker by clicking on the File menu and then selecting the file you want to open. If the file does not appear in the File menu, you have to open the file as described above.
                    </mat-card-content>

                    <mat-card-content>
                        If an existing file is currently open with unsaved changes: If you want to save the changes, click on the Yes button. If you click on the No button, all the changes you have made since you last saved the file, will be lost. If you want to cancel your actions, that is, if you don‟t want to open another file anymore, but return to your current file, click on the Cancel button.
                    </mat-card-content>

                    <mat-card-content>
                        If the default file is open: The default file named Untitled.sml is opened every time you start the program. If the default file (Untitled.sml) is open or if you have created a new file and you haven‟t saved the changes yet you can still save it. If you want to save any changes you have made, click on the Yes button, supply a name for the file as well as a location where the file should be saved and click on the Save button. If there are no changes to the default file that you would like to save, click on the No button. If you want to cancel your actions, that is, if you don‟t want to open another file anymore, but return to the default file, click on the Cancel button.
                    </mat-card-content>

                    <mat-card-content>
                        The file that you have selected to open, is now open and the information that was previously saved in that file is displayed on the screen. You can now change, add or remove information or create a word set.
                    </mat-card-content>
                </div>

                <mat-card-title>Saving a patient file</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        To save the patient file you are currently working on, click on File, then click on Save.
                    </mat-card-content>

                    <mat-card-content>
                        If you have already saved the file previously, the file will be saved again under its current name (the name of the currently open file is displayed at the top left corner of the main window). If you have never saved the file before, a window will be displayed where you can supply a name for the file, as well as the location where the file is to be written to. Choose a location and supply a name for the file and then click on the Save button.
                    </mat-card-content>
                </div>

                <mat-card-subtitle>Notes on saving a file:</mat-card-subtitle>
                <div class="content">
                    <mat-card-content>
                        When you save a file, the information that was previously saved in the file is replaced by the new information. If you still want the old information and you want to save the new information as well, you have to save the file containing the new information with a different name.
                    </mat-card-content>

                    <mat-card-content>
                        When you change the information in a patient file, nothing is done about the word set files created from the mentioned patient file. No changes are made to the word sets. If you want the word sets to reflect the changes in the patient file, you have to create new word sets. When you create a new word set, you can then either replace the old word set(s) or keep the old ones and create a new word set with a different name.
                    </mat-card-content>
                </div>

                <mat-card-title>Altering a patient file</mat-card-title>
                <div class="content">
                    <mat-card-content>
                        Open the patient file you want to change.
                    </mat-card-content>

                    <mat-card-content>
                        The data currently contained in the file, is displayed on the main screen. You may now change any of the data items. To do this, click in the appropriate text box, erase the data from the box and type in the new data.
                    </mat-card-content>

                    <mat-card-content>
                        Save your file.
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>