<div class="contact-us-container">
    <div class="card-container">
        <div class="contact-us-card card-item">
            <mat-card>
                <div class="contact-header">
                    <mat-card-header>
                        <mat-card-title class="contact-title">
                            CONTACT US
                        </mat-card-title>
                    </mat-card-header>
                </div>
                <mat-card-content>
                    <div class="name">
                        Dr. Anita van der Merwe
                    </div>
                    <div>
                        Professor Emeritus and Research Associate of the Department of Speech-Language Pathology and Audiology of the University of Pretoria
                    </div>
                    <div class="contact-details">
                        <a href="mailto:{{ emailAddressMerwe }}">{{ emailAddressMerwe }}</a>
                    </div>
                </mat-card-content>
                <mat-card-content>
                    <div class="name">
                        Dr. Esedra Kruger
                    </div>
                    <div>
                        Senior lecturer in Speech-Language Pathology at the Department of Speech-Language Pathology and Audiology of the University of Pretoria
                    </div>
                    <div class="contact-details">
                        <a href="mailto:{{ emailAddressKruger }}">{{ emailAddressKruger }}</a>
                    </div>
                </mat-card-content>

                <mat-card-actions class="actions">
                    <button mat-flat-button color="primary" class="home-button" (click)="navigateToHome() ">BACK TO HOME PAGE</button>
                </mat-card-actions>
                
            </mat-card>
        </div>
    </div>
</div>

