<div class="about-sml-container">
    <div class="card-container">
        <div class="about-sml-card card-item">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        ABOUT THE SML APPROACH
                    </mat-card-title>
                </mat-card-header>

                <mat-card-subtitle>
                    Language of Treatment and Speech Sounds
                </mat-card-subtitle>

                <div class="card-content-cotainer">

                </div>
                <mat-card-content class="full-width-content">
                    The SML approach implements nonwords as treatment stimuli. 
                    The software compiles these nonwords. 
                    CVCV (consonant, vowel, consonant, vowel) nonwords are first targeted and at a later stage CVC and then longer syllable structures.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Three to four consonants and three to five vowels that the client finds easiest to produce are selected as first target sounds. 
                    These sounds are initially rehearsed in CVCV nonwords. The first target set would constitute Stage 1 of the treatment program. 
                    The consonant repertoire is gradually expanded across time (constituting upcoming Stages) until all the easier consonants have been integrated into the target set. 
                    The vowel repertoire is then expanded. The acquired sounds are then rehearsed in CVC syllable structures. 
                    The more difficult sounds are later targeted sequentially and integrated into the already achieved target set. 
                    Please refer to the summary of methods for a more expanded explanation.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    The SML approach is not language-specific. 
                    The sounds of any language can be used to generate treatment stimuli. 
                    Recommendation: Do not use phonetic symbols when you generate the treatment stimuli. 
                    Rather use the orthographic symbols that the client (in case of an adult who can read) and clinician will associate with a specific sound of the language.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    To plan treatment across time the clinician should keep record of the sounds (phonetically) that have already been introduced in treatment and those that will be targeted in future.
                </mat-card-content>

                <mat-card-subtitle>
                    About the SML Approach to Treating Apraxia of Speech
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    The SML approach to treating apraxia of speech was first published in 1976 and in 1980 in abridged versions (Van der Merwe, 1976; 1980). 
                    The rationale and methods were at that stage not yet fully developed. 
                    Before the commercial publication of the treatment approach in 1985 in the Afrikaans language, the effect of the approach was researched. 
                    Questionnaires to clinicians in South Africa revealed that at the time the approach had already been applied to 167 clients. Of these, 68 presented with apraxia of speech (58 with CAS and 10 with AOS), 57 with developmental phonological disorders (DPD) and the remaining 42 with other speech disorders. 
                    The application of the SML approach to other communication disorders than childhood apraxia of speech (CAS) or acquired apraxia of speech (AOS) has never been the intention of the author. 
                    From the questionnaires it became clear that clinicians sometimes do use the treatment stimuli (not necessarily the entire approach) during treatment of individuals with other disorders. 
                    Of the total number of clients, 83 had made excellent progress as subjectively judged by clinicians (38 with CAS, 23 with DPD, five with AOS, nine who stuttered, one with acquired dysarthria, four with articulation errors, and three with congenital brain damage), 74 moderate progress (17 with CAS, 33 with DPD, five with AOS, seven who stuttered, three with acquired dysarthria, two with articulation errors, one with cleft palate, one with hearing impairment and five with congenital brain damage), and 10 little progress (three with CAS, one with DPD, four who stuttered and two with congenital brain damage) (Van der Merwe, 1985).
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    The period since 1976 can be described as Phase 1 in the five-phase (Robey & Schultz, 1998) process of testing the outcomes of the SML approach (Van der Merwe, 1985). 
                    It is “a time of discovery” in the words of Wertz (2002, p.xii). 
                    Several studies were undertaken during this period to evaluate the outcomes of treatment of AOS, stuttering and DPD (Barnes, 2000; Boshoff, 1991; Geldenhuys 1983), to determine generalization of treatment effects to a second language (Van der Merwe & Tesner, 2000), to determine the effect on self-corrections (van der Merwe, 2007), and to verify the order of the variation levels (see description of methods) (Du Plooy, 1992). 
                    A study on the residual signs of CAS after a period of treatment and after the children were discharged from treatment indicated that the only remaining signs were occasional voice onset time errors and prolonged vowel duration (Bodenstein, 2001). 
                    These five participants were diagnosed with CAS between the ages of three and four years. Treatment could therefore commence early. 
                    The five participants in that study received treatment with the SML approach for periods ranging from six months to three years before they could be discharged.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Two articles in which the rationale and methods of the SML approach were described and the outcomes reported were published in Aphasiology (2011) and American Journal of Speech-Language Pathology (2018). 
                    The first article (2011), entitled "A speech motor learning approach to treating apraxia of speech: Rationale and effects of intervention with an adult with acquired apraxia of speech", focused on the treatment of acquired apraxia of speech (AOS). 
                    The second article (2018), entitled "Model driven treatment of childhood apraxia of speech: Positive effects of the speech motor learning approach" focussed on the treatment of childhood apraxia of speech (CAS).
                </mat-card-content>


                <mat-card-subtitle>
                    Clinical Population
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    The SML treatment approach is intended for individuals with childhood or acquired apraxia of speech.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    AOS is characterized by the presence of slow speech rate of utterances the individual finds difficult to produce, lengthened inter-segment durations, sound distortions of consonants and vowels, sounds substitutions, distorted sound substitutions, articulatory groping, speech initiation difficulty, awareness of errors and attempts to self-correct speech, prosodic abnormalities, and increasing errors with increasing utterance length. 
                    These signs may occur in varying degrees in AOS. 
                    Individuals presenting with these signs are ideal candidates for SML treatment. 
                    In case of severe AOS, individuals with a limited repertoire of speech sounds in conjunction with relatively preserved language skills are also candidates for SML treatment (taken from various references in the literature).
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    The speech signs of CAS have not yet been described comprehensively. 
                    CAS can be suspected in cases where the child did not babble much as an infant, show limited correct word productions, an incomplete phonetic repertoire, poor stimulability for many speech sounds, sound distortions of consonants and sometimes also vowels, slow initiation of attempts to produce a sound or word, unwillingness to attempt to produce a sound or word, variability of phonetic errors (e.g. changes in voice onset time or vowel characteristics) during repeated sequential production of the same word, and communication supported by gestures. 
                    This is not an exhaustive list of possible signs of CAS (taken from various references in the literature). 
                    Future research has to confirm diagnostic guidelines.
                </mat-card-content>

                <mat-card-subtitle>
                    Methods of the SML Approach
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    The SML approach implements nonwords to rehearse speech skills. 
                    However, from the first day of treatment, real words are identified from the list of nonwords and these are introduced as real words to the client.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    To summarize:
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    First, the ease of production of vowels (V) and consonants (C) as perceived by the client must be rated.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Select a first target set of consonants and vowels with the greatest ease of production and generate the first set of CVCV nonwords on all variation levels. 
                    Use the software you installed to generate the treatment stimuli.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Rehearse these sounds on the five variation levels as generated by the SML approach.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Identify real words from the nonword lists and introduce these as real words into phrases (e.g. “my mommy”, “my daddy” in the case of CAS).
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Add another consonant/s to the target set and use the program you installed to generate these stimuli.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    Continue by following the guidelines of the SML approach as set out in the methods table.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    During each session follow the steps (repeatedly) as described in the table.
                </mat-card-content>

                <mat-card-subtitle>
                    Theoretical Orientation of the SML Approach
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    The SML approach is grounded in the four-level framework of speech sensorimotor control (Van der Merwe, 1997; 2009) and aims to improve speech motor planning and programming as depicted in this framework. 
                    The SML approach also utilizes traditional methods to treating apraxia of speech such as integral stimulation and articulatory-kinematic methods (Darley, Aronson & Brown, 1975; Rosenbek, Lemme, Ahern, Harris, & Wertz, 1973; Wambaugh, 2002; Wambaugh & Nessler, 2004), some motor learning principles (Magill, 2007; Schmidt & Lee, 2005), graphic stimuli (which can be considered as a form of intersystemic reorganization), and a focus on speech prosody.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    In SML treatment the underlying problems and surface signs of AOS are targeted by addressing accurate production of speech movements (speech motor targets – SMTs) in utterances exceeding a single word/nonword in length. 
                    To this purpose series of nonwords are utilized as treatment stimuli. 
                    Also, movement adaptation to changing phonetic contexts is facilitated. 
                    Treatment commences with sounds with the greatest ease of production to render accurate production of many SMTs in utterances that exceed a single word/nonword in length more readily achievable. 
                    More difficult sounds are gradually incorporated into the treatment stimuli. While treatment stimuli are initially less complex, the learning environment is complex from the start and involves high contextual interference. 
                    Stimuli are rehearsed repeatedly to enhance automatic production. During rehearsal speech rate is gradually increased to reach normal rate and imitated production of stimuli is converted to self-initiated production. 
                    Mental practice and internal predictive control are facilitated during response delay periods and the client is encouraged to self-correct errors.
                </mat-card-content>

                <mat-card-subtitle>
                    Other Applications
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    The series of nonwords created by the software are ideal stimuli to use during the treatment of a range of speech disorders, other than apraxia of speech. 
                    These stimuli can be used in the treatment of voice disorders, acquired dysarthria, articulation disorders, and stuttering. 
                    The series of nonwords lack semantic value, but offers the opportunity to rehearse speech skills during production of different vowels and consonants in series of utterances. 
                    For example, during the treatment of acquired dysarthria the quality of production of different sound classes like stops, liquids or vowels can be rehearsed. 
                    Prosodic skills like speech rate or intonation can also be rehearsed during production of series of nonwords. 
                    During treatment of voice disorders the model voice can be rehearsed during production of the series of nonwords and these series can be produced at different loudness levels. 
                    Clinicians can be creative in the use of the stimuli.
                </mat-card-content>

                <mat-card-subtitle>
                    About the author
                </mat-card-subtitle>

                <mat-card-content class="full-width-content">
                    Dr Anita van der Merwe is Professor Emeritus and Research Associate of the Department of Speech-Language Pathology and Audiology of the University of Pretoria in South Africa.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    She specializes in motor speech disorders, motor control of speech and voice disorders. 
                    She published the Speech Motor Learning (SML) approach to treating apraxia of speech in Afrikaans in 1985.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    She has presented numerous courses in South Africa on the diagnosis and treatment of apraxia of speech (childhood and acquired). 
                    In 2002 she presented a continuing education course for ASHA at the University of Pittsburg in the USA, and a course for the Primary Care Trust in Morecambe Bay in the UK.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    She was invited to act as Keynote speaker at the 32nd Clinical Aphasiology Conference in the USA in 2002.
                </mat-card-content>

                <mat-card-content class="full-width-content">
                    She contributed a chapter on “The four-level framework for the characterization of pathological speech sensorimotor control” in the book “Clinical management of sensorimotor speech disorders” edited by Dr. M.R. McNeil (1997; 2009).
                </mat-card-content>

                <mat-card-actions>
                    <button mat-flat-button color="primary" (click)="navigateToHome()">BACK TO HOME PAGE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
